body{
    font-family: Arial, Helvetica, sans-serif;
}

header img{
    image-orientation: from-image;
    width: 100%;

}

main{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 20px;
}

section{
    background-color: blue;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(red, green, blue, alpha);
}

h2{
    margin-top: 0;
}

footer {
    background-color:darkgoldenrod;
    padding: 10px;
    text-align: center;
    clear: both;
}
footer{
    text-decoration: none;
    color: brown;
}

footer a:hover{
    color: red;
}